body{
    background: radial-gradient(circle at right top, #041c946c , #ca11a27c);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.section-2{
    max-width: 600px;
    width: 100vw;
    height: 30vh;
    padding: .5rem;
    margin: 0 auto;
}

.container-section-2{
    width: 90vw;
    height: 52vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f3f3f3;
    box-shadow: 3px 1px 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}


.title-section-2{
    display: flex;
    flex-direction: column;
}
.title-section-2 h1{
    font-size: 1rem;
    font-family: 'Poppins';
    color: rgb(87, 87, 87);
}

.cards{
    font-family: 'Poppins';
    font-weight: 500;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 60vw;
    height: 10vh;
    margin-top: 20px;
    border-radius: 10px;
}

.cards-btn a{
    text-decoration: none;
}

.card1{
    background: #70A56F;
}

.card2{
    background: #6670A4;
}

.card3{
    background-color: #AB62A4;
} 
